@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --spSecondary:#65210A;
    --spBrown : #9B5B5C;
    --spGreen : #00ED5D;
    --spPrimary : #1E1E1E;
}

.playlist::-webkit-scrollbar {
    width: 0px;
}

.playlist::-webkit-scrollbar-track {
    background-color: gray;
}

.playlist::-webkit-scrollbar-thumb {
    background-color: gray;
}
.playlist{
    overflow-x: hidden;
}


.search-songs::-webkit-scrollbar {
    width: 3px;
}
.search-songs::-webkit-scrollbar-track {
    background-color: gray;
}

.search-songs::-webkit-scrollbar-thumb {
    background-color: gray;
}

#social-links ul{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.scroll-bar::-webkit-scrollbar {
    height: 8px;
}
.scroll-bar::-webkit-scrollbar-track {
    border-radius: 5px;
    margin: 0 10px;
}
.scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--spGreen);
    border-radius: 5px;
    margin: 0 10px;
}
.scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: var(--spGreen);
}

audio::-webkit-media-controls-panel{
    background-color: var(--spGreen);
    border: none;
    border-radius: 0;

}

audio::-webkit-media-controls{
    background-color: var(--spGreen);
    border: none;
    border-radius: 0;
}
audio::-webkit-media-controls:focus{
    background-color: var(--spGreen);
    border: none;
    border-radius: 0;
}

audio::-webkit-media-controls-mute-button{
    background-color: var(--spGreen);
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button{
    background-color: var(--spGreen);
    border-radius: 50%;
}
audio::-webkit-media-controls-timeline-container{
    background-color: transparent;
}
/*audio::-webkit-media-controls-current-time-display*/
/*audio::-webkit-media-controls-time-remaining-display*/
/*audio::-webkit-media-controls-timeline*/
/*audio::-webkit-media-controls-volume-slider-container*/
/*audio::-webkit-media-controls-volume-slider*/
/*audio::-webkit-media-controls-seek-back-button*/
/*audio::-webkit-media-controls-seek-forward-button*/
/*audio::-webkit-media-controls-fullscreen-button*/
/*audio::-webkit-media-controls-rewind-button*/
/*audio::-webkit-media-controls-return-to-realtime-button*/
/*audio::-webkit-media-controls-toggle-closed-captions-button*/
